.homecontainer {
    margin:auto;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    height: 380px;
    width: 320px;
    font-size: 15px;
    background-color: rgb(234,234,234)
}

.homecontainer img {
    margin-top: 10px;
    border-radius: 60px; 
}

.infolist {
    list-style: none;
    text-align: left;
    border-top: solid 1px gray;
   
}

.buttons {
    display: flex;
    justify-content: center; 
    border-top: solid 1px gray;
    padding: 12px 0;
}
.red {
    margin-left: 10px;
    background-color: lightcoral;
    outline: none;
}
.green {
    background-color: lightgreen;
    outline: none;
}

.red, .green {
    padding: 5px;
    border-radius: 5px;
    font-weight: lighter; 
}

.invites {
    display: flex;
    justify-content: center;
}

.invites p {
    margin-right: 10px;
}